.carousel {
    position: relative;
    width: 60%;
    /* max-width: 800px; */
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    display: none;
    text-align: center;
}

.carousel-slide.active {
    display: block;
    animation: fadeIn 1s ease-in-out;
}

.carousel-image {
    width: 100%;
    max-height: 700px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #2C3E50;
}


.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 2rem;
    z-index: 2;
}

.prev-btn {
    left: 10px;
}

.nxt-btn {
    right: 10px;
}

.carousel-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}